# 난수 발생 모듈

In [1]:
import random

## \[0, 1\) 범위의 임의의 실수를 반환

In [2]:
random.random()

0.7032004376837695

## \[a, b\] 범위의 임의의 정수를 반환

In [3]:
random.randint(1, 6)

2

## `range([start, ] stop [, step])`에서 임의의 정수를 반환

In [4]:
random.randrange(0, 10, 2)

8

## 공백이 아닌 시퀀스에서 임의의 항목을 반환

In [5]:
random.choice([1, 2, 3])

3

## 시퀀스로 이뤄진 모집단에서 중복되지 않는 k개의 인자를 반환

In [6]:
random.sample([1, 2, 3, 4, 5], 2)

[1, 4]

# 날짜 및 시간 관련 처리 모듈

In [7]:
import datetime

## date 클래스

In [8]:
date_obj = datetime.date(2021, 10, 12)
time_obj = datetime.time(10, 20, 0)
datetime_obj = datetime.datetime(2021, 10, 12, 10, 20, 0)

print(date_obj)
print(time_obj)
print(datetime_obj)

2021-10-12
10:20:00
2021-10-12 10:20:00

In [9]:
print('{}/{}/{}'.format(date_obj.year, date_obj.month, date_obj.day))

2021/10/12

In [10]:
# date 객체는 그 객체끼리 연산 가능
day1 = datetime.date(2021, 10, 12)
day2 = datetime.date(2022, 1, 1)

diff_day = day2 - day1
print(diff_day)

81 days, 0:00:00

In [11]:
type(day1), type(diff_day)

(datetime.date, datetime.timedelta)

In [12]:
# 날짜만 출력
diff_day.days

81

In [13]:
# 오늘 날짜
datetime.date.today()

datetime.date(2021, 10, 12)

## time 클래스

In [14]:
print('{}:{}:{}'.format(time_obj.hour, time_obj.minute, time_obj.second))

10:20:0

## datetime 클래스

In [15]:
print('날짜 {}/{}/{}'.format(datetime_obj.year, datetime_obj.month, datetime_obj.day))
print('시각 {}:{}:{}'.format(datetime_obj.hour, datetime_obj.minute, datetime_obj.second))

날짜 2021/10/12
시각 10:20:0

In [17]:
# 현재 시각
now = datetime.datetime.now()
print(now)

2021-10-12 10:27:05.109280

In [18]:
# 출력 양식 지정
print('Date & Time : {:%Y-%m-%d, %H:%M:%S}'.format(now))

Date & Time : 2021-10-12, 10:27:05

In [19]:
print('Date : {:%Y-%m-%d}'.format(now))
print('Time : {:%H:%M:%S}'.format(now))

Date : 2021-10-12
Time : 10:27:05

# 달력 생성 및 처리 모듈

In [20]:
import calendar

## 지정된 연도의 전체 달력을 문자열로 반환

In [22]:
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [23]:
# 한 열에 출력되는 달을 바꾸기
print(calendar.calendar(2021, m=4))

                                               2021

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31                                29 30 31                  26 27 28 29 30

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4                         1
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
31                                                                            30 31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
27 28 29 30               25 26 27 28 29 30 31      29 30                     27 28 29 30 31

## 지정된 연도와 월의 달력을 문자열로 반환

In [24]:
print(calendar.month(2021, 10))

    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

## 지정된 연도와 월의 시작 요일과 일수 반환
- 요일의 경우 0(월요일)~6(일요일) 사이의 숫자로 반환

In [25]:
calendar.monthrange(2021, 10)

(4, 31)

## 달력에 표시되는 주의 첫 번째 요일값 반환 및 변경

In [26]:
calendar.firstweekday()

0

In [27]:
calendar.setfirstweekday(6) # calendar.setfirstweekday(calendar.SUNDAY)
print(calendar.month(2021, 10))

    October 2021
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

## 지정된 날짜(연도, 월, 일)의 요일을 반환

In [28]:
calendar.weekday(2021, 10, 12)

1

## 지정된 연도가 윤년인지를 판단해 윤년이면 True, 아니면 False 반환

In [29]:
calendar.isleap(2020)

True

In [30]:
calendar.isleap(2021)

False