# 문서 군집화

## 문서 군집화 개념
- 비슷한 텍스트 구성의 문서를 군집화하는 것
- 비지도학습 기반

## Opinion Review 데이터 세트를 이용한 문서 군집화
- [csv 파일](https://archive.ics.uci.edu/ml/datasets/Opinosis+Opinion+%26frasl%3B+Review)

In [3]:
import pandas as pd
import glob, os

# 디렉토리
path = r'C:\Users\master\TIL\Big Data Analysis\Machine Learning\data\OpinosisDataset1.0\topics'
# 모든 .data 파일 취합 - glob : 파일 목록 리스트
all_files = glob.glob(os.path.join(path, '*.data'))

filename_list = []
opinion_text = []

# 개별 파일명 취합
# 파일 내용을 DataFrame 로딩 후 다시 string으로 변환해 취합
for file_ in all_files:
    df = pd.read_table(file_, index_col=None, header=0, encoding='latin1')
    
    # 절대 경로로 주어진 파일명 가공, .data 확장자 제거
    filename_ = file_.split('\\')[-1]
    filename = filename_.split('.')[0]
    
    # 파일명과 텍스트 내용을 리스트에 추가
    filename_list.append(filename)
    opinion_text.append(df.to_string())

# DataFrame으로 생성
document_df = pd.DataFrame({'filename':filename_list, 'opinion_text':opinion_text})
document_df.head()

                         filename                                       opinion_text
0   accuracy_garmin_nuvi_255W_gps                                                ...
1  bathroom_bestwestern_hotel_sfo                                                ...
2      battery-life_amazon_kindle                                                ...
3      battery-life_ipod_nano_8gb                                                ...
4     battery-life_netbook_1005ha                                                ...

### TF-IDF 피처 벡터화

In [7]:
from nltk.stem import WordNetLemmatizer
import nltk
import string

remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)
lemmar = WordNetLemmatizer()

def LemTokens(tokens):
    return [lemmar.lemmatize(token) for token in tokens]

def LemNormalize(text):
    return LemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(tokenizer=LemNormalize, stop_words='english',
                            ngram_range=(1, 2), min_df=0.05, max_df=0.85)

# 피처 벡터화 수행
feature_vect = tfidf_vect.fit_transform(document_df['opinion_text'])

C:\Users\master\anaconda3\envs\multi\lib\site-packages\sklearn\feature_extraction\text.py:391: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

### K-평균 군집화

In [10]:
from sklearn.cluster import KMeans

# 5개 집합으로 군집화
km_cluster = KMeans(n_clusters=5, max_iter=10000, random_state=0)
km_cluster.fit(feature_vect)
cluster_label = km_cluster.labels_
cluster_centers = km_cluster.cluster_centers_

In [11]:
document_df['cluster_label'] = cluster_label
document_df.head()

                         filename                                       opinion_text  cluster_label
0   accuracy_garmin_nuvi_255W_gps                                                ...              2
1  bathroom_bestwestern_hotel_sfo                                                ...              0
2      battery-life_amazon_kindle                                                ...              1
3      battery-life_ipod_nano_8gb                                                ...              1
4     battery-life_netbook_1005ha                                                ...              1

### 군집화 결과

In [12]:
document_df[document_df['cluster_label']==0].sort_values(by='filename')

                          filename                                       opinion_text  cluster_label
1   bathroom_bestwestern_hotel_sfo                                                ...              0
32         room_holiday_inn_london                                                ...              0
30     rooms_bestwestern_hotel_sfo                                                ...              0
31         rooms_swissotel_chicago                                                ...              0

In [13]:
document_df[document_df['cluster_label']==1].sort_values(by='filename')

                       filename                                       opinion_text  cluster_label
2    battery-life_amazon_kindle                                                ...              1
3    battery-life_ipod_nano_8gb                                                ...              1
4   battery-life_netbook_1005ha                                                ...              1
19      keyboard_netbook_1005ha                                                ...              1
26   performance_netbook_1005ha                                                ...              1
41     size_asus_netbook_1005ha                                                ...              1
42          sound_ipod_nano_8gb      headphone jack i got a clear case for it a...              1
44               speed_windows7                                                ...              1

In [14]:
document_df[document_df['cluster_label']==2].sort_values(by='filename')

                           filename                                       opinion_text  cluster_label
0     accuracy_garmin_nuvi_255W_gps                                                ...              2
5             buttons_amazon_kindle                                                ...              2
8   directions_garmin_nuvi_255W_gps                                                ...              2
9      display_garmin_nuvi_255W_gps                                                ...              2
10    eyesight-issues_amazon_kindle                                                ...              2
11                features_windows7                                                ...              2
12              fonts_amazon_kindle                                                ...              2
23         navigation_amazon_kindle                                                ...              2
33   satellite_garmin_nuvi_255W_gps                                                ...              2
34      screen_garmin_nuvi_255W_gps                                                ...              2
35             screen_ipod_nano_8gb                                                ...              2
36            screen_netbook_1005ha                                                ...              2
43       speed_garmin_nuvi_255W_gps                                                ...              2
48     updates_garmin_nuvi_255W_gps                                                ...              2
49              video_ipod_nano_8gb                                                ...              2
50       voice_garmin_nuvi_255W_gps                                                ...              2

In [15]:
document_df[document_df['cluster_label']==3].sort_values(by='filename')

                           filename                                       opinion_text  cluster_label
13          food_holiday_inn_london                                                ...              3
14           food_swissotel_chicago                                                ...              3
15       free_bestwestern_hotel_sfo                                                ...              3
20   location_bestwestern_hotel_sfo                                                ...              3
21      location_holiday_inn_london                                                ...              3
24    parking_bestwestern_hotel_sfo                                                ...              3
27              price_amazon_kindle                                                ...              3
28         price_holiday_inn_london                                                ...              3
38    service_bestwestern_hotel_sfo                                                ...              3
39       service_holiday_inn_london                                                ...              3
40  service_swissotel_hotel_chicago                                                ...              3
45      staff_bestwestern_hotel_sfo                                                ...              3
46          staff_swissotel_chicago                                                ...              3

In [16]:
document_df[document_df['cluster_label']==4].sort_values(by='filename')

                          filename                                       opinion_text  cluster_label
6        comfort_honda_accord_2008                                                ...              4
7        comfort_toyota_camry_2007                                                ...              4
16   gas_mileage_toyota_camry_2007                                                ...              4
17      interior_honda_accord_2008                                                ...              4
18      interior_toyota_camry_2007                                                ...              4
22       mileage_honda_accord_2008                                                ...              4
25   performance_honda_accord_2008                                                ...              4
29       quality_toyota_camry_2007                                                ...              4
37         seats_honda_accord_2008                                                ...              4
47  transmission_toyota_camry_2007                                                ...              4

In [17]:
# 3개 집합으로 군집화
km_cluster = KMeans(n_clusters=3, max_iter=10000, random_state=0)
km_cluster.fit(feature_vect)
cluster_label = km_cluster.labels_
cluster_centers = km_cluster.cluster_centers_

document_df['cluster_label'] = cluster_label
document_df.head()

                         filename                                       opinion_text  cluster_label
0   accuracy_garmin_nuvi_255W_gps                                                ...              0
1  bathroom_bestwestern_hotel_sfo                                                ...              2
2      battery-life_amazon_kindle                                                ...              0
3      battery-life_ipod_nano_8gb                                                ...              0
4     battery-life_netbook_1005ha                                                ...              0

In [18]:
document_df[document_df['cluster_label']==0].sort_values(by='filename').head()

                        filename                                       opinion_text  cluster_label
0  accuracy_garmin_nuvi_255W_gps                                                ...              0
2     battery-life_amazon_kindle                                                ...              0
3     battery-life_ipod_nano_8gb                                                ...              0
4    battery-life_netbook_1005ha                                                ...              0
5          buttons_amazon_kindle                                                ...              0

In [19]:
document_df[document_df['cluster_label']==1].sort_values(by='filename').head()

                         filename                                       opinion_text  cluster_label
6       comfort_honda_accord_2008                                                ...              1
7       comfort_toyota_camry_2007                                                ...              1
16  gas_mileage_toyota_camry_2007                                                ...              1
17     interior_honda_accord_2008                                                ...              1
18     interior_toyota_camry_2007                                                ...              1

In [20]:
document_df[document_df['cluster_label']==2].sort_values(by='filename').head()

                          filename                                       opinion_text  cluster_label
1   bathroom_bestwestern_hotel_sfo                                                ...              2
13         food_holiday_inn_london                                                ...              2
14          food_swissotel_chicago                                                ...              2
15      free_bestwestern_hotel_sfo                                                ...              2
20  location_bestwestern_hotel_sfo                                                ...              2

## 군집별 핵심 단어 추출
- `cluster_centers_`로 확인

In [21]:
cluster_centers = km_cluster.cluster_centers_
print('cluster_centers shape :', cluster_centers.shape)
print(cluster_centers)

cluster_centers shape : (3, 4611)
[[0.01005322 0.         0.         ... 0.00706287 0.         0.        ]
 [0.         0.00092551 0.         ... 0.         0.         0.        ]
 [0.         0.00099499 0.00174637 ... 0.         0.00183397 0.00144581]]

In [22]:
# 군집별 top n 핵심단어, 그 단어의 중심 위치 상대값, 대상 파일명들을 반환함. 
def get_cluster_details(cluster_model, cluster_data, feature_names, clusters_num, top_n_features=10):
    cluster_details = {}
    
    # cluster_centers array 의 값이 큰 순으로 정렬된 index 값을 반환
    # 군집 중심점(centroid)별 할당된 word 피처들의 거리값이 큰 순으로 값을 구하기 위함.  
    centroid_feature_ordered_ind = cluster_model.cluster_centers_.argsort()[:,::-1]
    
    #개별 군집별로 iteration하면서 핵심단어, 그 단어의 중심 위치 상대값, 대상 파일명 입력
    for cluster_num in range(clusters_num):
        # 개별 군집별 정보를 담을 데이터 초기화. 
        cluster_details[cluster_num] = {}
        cluster_details[cluster_num]['cluster'] = cluster_num
        
        # cluster_centers_.argsort()[:,::-1] 로 구한 index 를 이용하여 top n 피처 단어를 구함. 
        top_feature_indexes = centroid_feature_ordered_ind[cluster_num, :top_n_features]
        top_features = [ feature_names[ind] for ind in top_feature_indexes ]
        
        # top_feature_indexes를 이용해 해당 피처 단어의 중심 위치 상댓값 구함 
        top_feature_values = cluster_model.cluster_centers_[cluster_num, top_feature_indexes].tolist()
        
        # cluster_details 딕셔너리 객체에 개별 군집별 핵심 단어와 중심위치 상대값, 그리고 해당 파일명 입력
        cluster_details[cluster_num]['top_features'] = top_features
        cluster_details[cluster_num]['top_features_value'] = top_feature_values
        filenames = cluster_data[cluster_data['cluster_label'] == cluster_num]['filename']
        filenames = filenames.values.tolist()
        cluster_details[cluster_num]['filenames'] = filenames
        
    return cluster_details

In [23]:
def print_cluster_details(cluster_details):
    for cluster_num, cluster_detail in cluster_details.items():
        print('####### Cluster {0}'.format(cluster_num))
        print('Top features:', cluster_detail['top_features'])
        print('Reviews 파일명 :',cluster_detail['filenames'][:7])
        print('==================================================')

In [24]:
feature_names = tfidf_vect.get_feature_names()

cluster_details = get_cluster_details(km_cluster, document_df, feature_names, 3, 10)
print_cluster_details(cluster_details)

####### Cluster 0
Top features: ['screen', 'battery', 'keyboard', 'battery life', 'life', 'kindle', 'direction', 'video', 'size', 'voice']
Reviews 파일명 : ['accuracy_garmin_nuvi_255W_gps', 'battery-life_amazon_kindle', 'battery-life_ipod_nano_8gb', 'battery-life_netbook_1005ha', 'buttons_amazon_kindle', 'directions_garmin_nuvi_255W_gps', 'display_garmin_nuvi_255W_gps']
==================================================
####### Cluster 1
Top features: ['interior', 'seat', 'mileage', 'comfortable', 'gas', 'gas mileage', 'transmission', 'car', 'performance', 'quality']
Reviews 파일명 : ['comfort_honda_accord_2008', 'comfort_toyota_camry_2007', 'gas_mileage_toyota_camry_2007', 'interior_honda_accord_2008', 'interior_toyota_camry_2007', 'mileage_honda_accord_2008', 'performance_honda_accord_2008']
==================================================
####### Cluster 2
Top features: ['room', 'hotel', 'service', 'staff', 'food', 'location', 'bathroom', 'clean', 'price', 'parking']
Reviews 파일명 : ['bathroom_bestwestern_hotel_sfo', 'food_holiday_inn_london', 'food_swissotel_chicago', 'free_bestwestern_hotel_sfo', 'location_bestwestern_hotel_sfo', 'location_holiday_inn_london', 'parking_bestwestern_hotel_sfo']
==================================================