In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'a':[1,3,7,4],'b':[17,86,52,68],'c':[134,874,592,246]})

In [3]:
df1

   a   b    c
0  1  17  134
1  3  86  874
2  7  52  592
3  4  68  246

# apply
- data.apply(func, axis)
- 2차원(DataFrame)의 행별(axis=0), 열별(axis=1) 적용 
- 주로 그룹함수와 함께 사용
- Return to Series

In [4]:
f2 = lambda x : x.max() - x.min()

In [5]:
df1.apply(f2)

a      6
b     69
c    740
dtype: int64

In [6]:
df1.apply(f2, axis=1)

0    133
1    871
2    585
3    242
dtype: int64

In [7]:
df1.apply(sum,1)

0    152
1    963
2    651
3    318
dtype: int64

In [8]:
round(df1.apply(np.mean,1),2)

0     50.67
1    321.00
2    217.00
3    106.00
dtype: float64

# applymap
- data.applymap(func, **iterable)
- 2차원 원소별 적용 가능
- 출력 결과 DataFrame

In [9]:
# 2차원(DataFrame) 데이터 구조의 원소별 적용

f4 = lambda x : '%03d'%x  

df1.applymap(f4)

     a    b    c
0  001  017  134
1  003  086  874
2  007  052  592
3  004  068  246